$color-primary: #374249;
$color-secondary: #f75311;
$color-font: #797979;
$color-headers: #374249;
$color-grey1: #cfd1d3;
$color-grey2: #f3f7f9;
$font-family: 'Roboto', sans-serif;
$border-btn: 1px solid $color-grey1;