@import "mixins", "vars";

@include start;

header {
    width: 100%;
    white-space: nowrap;
    @include clearfix;

    .location {
        width: 20%;
        background-color: $form-location;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        float: left;

        img {
            width: 3em;
            height: 3em;
            margin-left: 3em;
        }

        h3 {
            color: white;
            padding: 10px;
        }
    }

    nav {
        width: 80%;
        background-color: $nav-table;
        float: right;
        display: flex;
        justify-content: flex-start;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            width: 40%;
            font-size: 1.2em;
            height: 48px;
            align-items: center;

            li {
                color: white;
            }

            li:hover {
                text-decoration: underline;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

main {
    width: 100%;

    .jumbo {
        background: url("../slike/intro.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        height: 45em;
        width: 100%;
        @include center;
        padding-top: 24em;

        .cont {
            text-align: center;
            color: white;
            background-color: $jumbo-bckg;
            display: inline-block;
            @include center;
            padding: 1.8em 10em;

            h1 {
                font-size: 3em;
                margin-bottom: 0.5em;
            }
        }
    }

    .tags {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        
        
        .tag {
            margin: 1.6em 1.4em;
            padding: 0.7em 1.6em;
            border-radius: 25px;
            border: 1px solid gray;
            font-size: 0.9em;
        }

        .tag:hover {
            background-color: $nav-table;
            color: $hover-color;
            
        }

        .tag:last-child {
            margin-right: 18em;
        }
    }

    .gallery {
        width: 100%;
        background-color: $background-section;
        padding: 3em 1em;
        

        .grid-container {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 10px;
            @include center;
            a {
                text-decoration: none;

                .holder {
                    height: 400px;
                    width: 18.5em;
                }
                
                #holder1 {
                    background: url("../slike/1.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;    
                }

                #holder2 {
                    background: url("../slike/2.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                #holder3 {
                    background: url("../slike/3.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                #holder4 {
                    background: url("../slike/4.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                #holder5 {
                    background: url("../slike/5.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                #holder6 {
                    background: url("../slike/6.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .info {
                    background-color: white;
                    opacity: 0.75;
                    padding: 1em 0.5em 3.2em 0.7em;
                    display: none;

                    h3 {
                        color: black;
                        font-size: 1.3em;
                        padding: 0.2em;
                        text-align: left;
                    }

                    p {
                        color: black;
                        font-size: 1.3em;
                        opacity: 0.8;
                        padding: 0.2em;
                        text-align: left;
                    }
                }

                .holder:hover .info {
                    display: block;
                    
                }
            }
            
            
        }
    }

    .pricing {

        button {
                display: block;
                margin: 1.6em auto;
                padding: 0.7em 1.6em;
                border-radius: 25px;
                border: 1px solid gray;
                font-size: 0.9em;
                display: none;
        }

        button:hover {
                background-color: $nav-table;
                color: $hover-color;
        }

        h3 {
            color: $nav-table;
            text-align: center;
            margin: 2em 0 1em 0;
        }

        p {
            text-align: center;
            color: $nav-table;

        }

        table {
            @include center;
            border-collapse: collapse;
            margin-top: 2em;

            caption {
                color: rgb(95, 94, 94);
                margin-bottom: 2em;
            }

            .orange {
                background-color: $form-location;
                color: white;
                padding: 1em 4em;
            }

            .gray {
                background-color: $nav-table;
                color: white;
                padding: 1em 4em;
            }

            td {
                border: 1px solid gray;
            }

            .empty {
                border: none;
            }
        }
    }

    .contact {
        width: 100%;
        background-color: $background-section;
        margin-top: 4em;

        h3 {
            color: $nav-table;
            text-align: center;
            margin: 2em;
        }

        .flex-container {
            width: 85%;
            display: flex;
            justify-content: center;
            margin: 0 auto;

    
            .map-holder iframe {
                width: 28em;
                height: 30vh;
                max-width: 30em;
                margin-right: 2em;
            }
    
            form {
                background-color: $form-location;
                padding: 1em 1em 0 1em;
                height: 27vh;
                margin-left: 2em;
                min-width: 30em;
                max-width: 40em;

                .inputs {
                    padding: 5px;
                    margin: 10px 5px;
                    font-size: 1em;
                }

                select {
                    width: 15%;
                    float: left;
                }

                input[type="text"] {
                    width: 80%;
                    float: right;
                }

                input[type="email"] {
                    float: left;
                    width: 98%;
                }

                textarea {
                    width: 98%;
                    float: left;
                }
            }
        }
    }
}

footer {
    background-color: $nav-table;
    text-align: center;
    color: white;
    margin-top: 2em;

    span {
        color: $form-location;
    }
}

@media only screen and (max-width:1200px) {
    main .gallery .grid-container {
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 30px;

        a .holder:nth-child(odd) {
            margin-left: 2em;
        }

    }

    main .contact .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .map-holder {
            text-align: center;
            margin-bottom: 2em;

            iframe {
                margin-right: 0;
            }
        }

        form {
            margin-left: 0;
        }
    }

    main .tags {
        display: flex;
        justify-content: center;

        .tag:last-child {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width:1000px) {
    header .location img {
        margin-left: 0;
    }

    main .gallery .grid-container a .holder:nth-child(odd) {
        margin-left: 0;
    }
}

@media only screen and (max-width:800px) {
    header .location {
        float: left;
        clear: both;
        width: 100%;

        img {
            margin-left: 1em;
        }
    }

    header nav {
        float: left;
        width: 100%;
        flex-direction: column;
        justify-content: center;

        ul {
            justify-content: space-between;
            width: 100%;
            flex-direction: column;
            height: auto;

            li {
                padding: 9px 4px;
            }
        }
    }

    main .gallery .grid-container {
        width: 100%;
        grid-template-columns: 1fr;
        margin: 0;
        gap: 25px;

        a {
            @include center;
            display: block;
            height: 400px;
            width: 85%;

            .info {
                display: block;
            }

            .holder:hover .info {
                background-color: rgb(245, 242, 226);
                opacity: 0.95;
            }
        }

        a .holder {
            width: 100%;
            @include center;
        }
    }

    main .pricing button {
        display: block;
    }

    main .pricing table {
        display: none;

    }

    main .jumbo .cont {
        padding: 1.8em 5em;
    }
    
}

@media only screen and (max-width: 600px) {
    main .jumbo {
        height: 23em;
        padding: 10em ;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;

        .cont {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: initial;
        }
    }

    main .contact .flex-container .map-holder iframe {
        width: 20em;
    }

    main .contact .flex-container form {
        min-width: 20em;

        select {
            width: 98%;
        }

        input[type="text"] {
            width: 98%;
            float: left;
        }

        
    }

    main .tags .tag {
        margin: 1.6em 1em;
    }

    main .tags .tag:last-child {
        margin-right: 1em;
    }
}
