    $background-orange: #f75311;
	$background-dark-blue: #374249;
	$font-color: #797979;
	$headings-color: #374249;
	$button-color-light: #cfd1d3;
    $background-color-light: #f3f7f9;
    $main-font: 'Roboto', sans-serif;